ul.list-group {
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
}

.dropdown-menu.show {
    display: block;
}

.my-background-div {
  background-image: url('https://img.freepik.com/premium-vector/tropical-luxury-resort-hotel-beach-swimming-pool-poolside-seating-area-summer-vacation-concept_48369-46815.jpg');
  background-size: cover;
  /* background-color: rgba(255, 255, 255, 0.85); */
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  height: 400px;
  width: 100%;
  margin: 20px auto; /* Adds 20px of space on the top and bottom, and centers the div horizontally */
  max-width: 94%;
}
.inner{
    background-color:white;
    border-radius: 10px;
    height: 184px;
    padding-top: 50px;
    padding: 50px 30px 40px 50px;
     margin: 0 auto;
     width: 92%;
}